body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
button,
input,
textarea,
select {
    font-family: 'Lato', sans-serif;
}

.form-content {
    margin: 0px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 2px solid #f37334;
    border-radius: 5px;
    position: relative;
    align-items: flex-start;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-control {font-family: 'Lato', sans-serif;}

.form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0px !important;
    margin-top: 10px;
}

.form-row label {
    flex-basis: calc(33.33% - 10px);
    flex: none;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 12px;
    display: block;
    margin-top: 8px;
}

.form-row label.right-inline {
    text-align: right;
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

.form-row-table {
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.input-buscar input {
    width: 100px; /* Defina o tamanho desejado */
}


.align-left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.align-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
}

.campo-valor {
    padding: 5px 20px;
    background-color: #0055ff;
    color: #fff !important;
    border-radius: 10px;
    font-size: 18px !important;
    text-shadow: 1px 1px #15527c;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
}

/* Estilo para os status */
.box-info-requisicao-btn .botao-aberta {
    background-color: #5fc9ed;
    text-shadow: 1px 1px #195a66;
    padding: 8px 20px 8px 31px;
    border: none;
    border-radius: 5px;
    color: white;
}

.box-info-requisicao-btn .botao-pre-compra {
    background-color: #79C14E;
    text-shadow: 1px 1px #356619;
    color: white;
    padding: 7px 10px 6px 20px;
    border: none;
    border-radius: 5px;
}

.box-info-requisicao-btn .botao-pagamento {
    background-color: rgb(187, 2, 144);
    text-shadow: 1px 1px #550135;
    color: white;
    padding: 8px 10px 8px 20px;
    border: none;
    border-radius: 5px;
}

.box-info-requisicao-btn .botao-cotacao {
    background-color: orangered;
    text-shadow: 1px 1px rgb(118, 31, 0);
    color: white;
    padding: 8px 25px 8px 25px;
    border: none;
    border-radius: 5px;
}


.box-info-requisicao-btn .botao-analise {
    background-color: #a82de5;
    text-shadow: 1px 1px rgb(113, 0, 136);
    color: white;
    padding: 8px 25px 8px 35px;
    border: none;
    border-radius: 5px;
}

.box-info-requisicao-btn .botao-conversao {
    background-color: #01e8a7;
    text-shadow: 1px 1px rgb(0, 136, 97);
    color: white;
    padding: 8px 10px 8px 25px;
    border: none;
    border-radius: 5px;
}

.box-info-requisicao-btn .botao-cancelada {
    background-color: rgb(214, 0, 0);
    text-shadow: 1px 1px rgb(91, 0, 0);
    color: white;
    padding: 8px 10px 8px 25px;
    border: none;
    border-radius: 5px;
}


.box-info-requisicao-btn .botao-aprovacao {
    background-color: rgb(12, 204, 175);
    text-shadow: 1px 1px rgb(1, 66, 67);
    color: white;
    padding: 8px 10px 8px 25px;
    border: none;
    border-radius: 5px;
}

/* Estilo para ícones */
.box-info-requisicao-btn .icones {
    position: absolute;
    left: -15%;
    margin-top: 10px;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
}

.space-btn {
    max-width: 10%;
}
.box-info-requisicao-btn {
    display: inline-block;
    vertical-align: top;
    /* Alinha verticalmente com as outras divs */
    font-size: 14px;
    color: white;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    margin: 10px 0 0 10px;
    top: 10%;
}



.label-input-container {
    width: 50%;
    margin-bottom: 10px;
}

.label-input-container label {
    width: 100%;

}

@media (max-width: 768px) {

    .align-right,
    .status-container,
    .label-input-container {
        width: 99%;
    }

    .form-row label {flex: auto; }
    .space-btn {min-width: 85px;}
    

    .form-row {
        flex-direction: row;
        align-items: center;
    }

    .form-row > * {
        margin-bottom: 10px;
    }

    .form-row label,
    .form-row input[type="text"],
    .form-row select,
    .form-row input[type="checkbox"] {
        flex-basis: 100%;
    }
    .box-info-requisicao-btn {
        margin-top: 10px;
    }
 
}



.form-row input[type="text"],
.form-row select {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.form-row input[type="checkbox"] {
    margin: 25px 5px 0;
    width: 18px;
    height: 18px;
}

.form-row input[type="checkbox"]:checked {
    background-color: #f37334 !important;
}

.form-row textarea {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    transition: border-color 0.3s ease;
    width: 100%;
    /* Adiciona uma transição suave */
}


.form-row select:focus,
.form-row input:focus,
.form-row textarea:focus {
    /* Arredonda a borda superior direita */
    border-color: #fe9a35;
    /* Altera a cor da borda ao focar */
   
}