body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
button,
input,
textarea,
select {
    font-family: 'Lato', sans-serif;
}

.btn-sm-custom {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    margin-bottom: 5px;
}


.cinza-claro {    
    border: 1px solid #ccc; 
    background-color: #e7e7e7;
    border-radius: 10px;
}
.cinza-medio {    
    border: 1px solid #ccc; 
    background-color: #dbdbdb;
    border-radius: 10px;
}
.cinza-escuro {    
    border: 1px solid #ccc; 
    background-color: #cecece;
    border-radius: 10px;
}

.table-responsive {
    overflow-x: auto;
}

/* Estilos para alternar as cores das linhas da tabela */
.table-ficha tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Cinza claro */
    margin-bottom: 20px;
}

.table-ficha tbody tr:nth-child(even) {
    background-color: #ffffff; /* Branco */
}

/* Estilos para centralizar o conteúdo das células */


.sticky {
    position: sticky;
    left: 0;
    background-color: white; /* Cor de fundo para a coluna fixa */
    z-index: 1; /* Para garantir que a coluna fixa fique acima das outras */
}

.ontainer {
    overflow-x: auto; /* Permite rolagem horizontal */
    max-width: 100%; /* Garante que o contêiner não ultrapasse a largura do pai */
}

.table-ficha {
    width: 100%;
    border-collapse: collapse; /* Para remover os espaços entre as bordas das células */
    font-size: 12px;
}

.table-ficha th, .table-ficha td {
    text-align: center;
    vertical-align: middle; 
    padding: 5px 2px 5px;
    border: 1px solid #ddd; 
    font-size: 12px;
}

/* Estilos adicionais para cabeçalho */
.table-ficha thead th {
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
    font-weight: bold;
}

/* Estilo para os ícones dentro da tabela com a classe .table-ficha-icon */
.table-ficha-icon i {
    color: #e07b39; /* Cor laranja */
    font-size: 2rem; /* Tamanho dos ícones */
}

/* Estilo para os ícones com a classe .table-ficha-icon ao passar o mouse */
.table-ficha-icon i:hover {
    color: #e07b39; /* Cor laranja mais escura ao passar o mouse */
}

/* Estilo geral para ícones com a classe .sub-icones */
.table-ficha .sub-icones {
    color: #ff842a;
    padding: 0;
    margin: 0;
}

/* Estilo para garantir que todos os ícones com a classe .sub-icones fiquem com a mesma cor */
.sub-icones i {
    color: #ff842a;
}

/* Estilo para a foto redonda */
.foto-redonda {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

/* Estilo para o select customizado */
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-selected {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    z-index: 99;
    max-height: 150px;
    overflow-y: auto;
}

.select-items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.select-items div:hover {
    background-color: #f1f1f1;
}

.select-hide {
    display: none;
}


.form-check-inline .form-check-input  {
    margin-top: 10px;
    margin-right: 5px;
}

.form-content {
    margin: 0px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 2px solid #f37334;
    border-radius: 5px;
    position: relative;
    align-items: flex-start;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-content2 {
    margin: 10px 0px;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    position: relative;
    align-items: flex-start;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-content-orange {
    margin: 10px 0px;
    padding: 5px 5px 15px;
    background-color: #f37334;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    position: relative;
    align-items: flex-start;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-control {font-family: 'Lato', sans-serif; font-size: 14px !important;}

.hidden {
    display: none;
}
hr {
    background: #ccc;
}

.container-fluid {margin: 0 !important;}


.form-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0px !important;
    margin-top: 10px;
}

.form-row label {
    flex-basis: calc(33.33% - 10px);
    flex: none;
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 12px;
    display: block;
    margin-top: 8px;
    letter-spacing: normal;
}

.form-row label.right-inline {
    text-align: right;
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

.form-row button {
    padding: 5px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    background: none;
}

.form-row-table {
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 12px;
    padding: 0;
}

.input-buscar input {
    width: 100px; /* Defina o tamanho desejado */
}


.align-left {
    display: flex;
    justify-content: flex-start;
}

.align-center {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.align-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
}

.checklist {
    margin-top: 15px;
    text-align: center; 
}

.checklist-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd; 
    padding-bottom: 15px; 
}

.checklist-item:last-of-type {
    border-bottom: none; /* Remove a linha da última checklist-item */
}

.checklist-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    /* Bordas arredondadas */
    border-radius: 20px;
    border: 2px solid #fff;
    
    /* Sombra para o efeito de relevo */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.4);

    
    /* Tamanho e padding */
    padding: 20px 10px; /* Ajuste conforme necessário */
}

.checkbox-icon-img {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 10px;
}

.text-muted {
    margin-top: 10px;
    font-size: 0.9em;
}

.question {
    font-weight: bold;
    font-size: 18px;
    color: #0055ff;
    margin: 0 10px; 
}

/* Container for the observations input and icon */
.observations-wrapper {
    display: flex;
    align-items: center; /* Alinha verticalmente o textarea e o status-container */
}

.status-container {
    display:flow-root;
    flex-direction: column; /* Organiza ícone e texto verticalmente */
    align-items: center; /* Alinha o ícone e o texto no centro */
    margin-left: 10px; /* Adiciona um espaço entre o textarea e o status-container */
}


.checkbox-label {
    margin-top: 5px; /* Adiciona um espaço entre o ícone e o texto */
    text-align: center; /* Alinha o texto ao centro */
    font-size: 0.9em;
    color:#555;
}

/* TOOTLTIP PARA FORNECEDOR DENTRO DE COTACAO*/

.tooltip-fornecedor {
    visibility: hidden;
    width: 200px; /* Largura do tooltip */
    background-color: rgba(64, 64, 64, 0.8); /* Fundo suave */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    position: absolute; /* Posiciona o tooltip */
    z-index: 1; /* Coloca o tooltip acima de outros elementos */
    bottom: -100%; /* Aponta o tooltip acima do cabeçalho */
    left: 50%; /* Centraliza o tooltip */
    transform: translateX(-50%); /* Ajusta para o centro */
    opacity: 0; /* Começa invisível */
    transition: opacity 0.3s; /* Efeito de transição */
    font-family: 'Lato' sans-serif;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #333;
}

th:hover .tooltip-fornecedor {
    visibility: visible; /* Torna o tooltip visível ao passar o mouse */
    opacity: 1; /* Torna o tooltip opaco */
}

.sub-icones:hover .tooltip-fornecedor {
    visibility: visible; /* Torna o tooltip visível ao passar o mouse */
    opacity: 1; /* Torna o tooltip opaco */
    bottom: 100%;
}

.tit-forne:hover {
    color: blue; /* Muda a cor do texto ao passar o mouse */
    cursor: pointer;
}

/* Container para a imagem e o tooltip */
.tooltip-container {
    position: relative; /* Necessário para o posicionamento absoluto do tooltip */
    display: inline-block; /* Mantém a imagem e o tooltip alinhados */
}

/* Tooltip (dica de ferramenta) */
.tooltip-text {
    visibility: hidden; /* Oculta o tooltip por padrão */
    width: 200px; /* Define a largura do tooltip */
    background-color: #333; /* Cor de fundo do tooltip */
    color: #fff; /* Cor do texto do tooltip */
    text-align: center; /* Alinha o texto no centro */
    border-radius: 5px; /* Cantos arredondados */
    padding: 5px; /* Espaçamento interno */
    position: absolute; /* Posiciona o tooltip em relação ao container */
    bottom: 125%; /* Posiciona o tooltip acima da imagem */
    left: 50%; /* Centraliza o tooltip horizontalmente em relação ao container */
    margin-left: -100px; /* Ajusta o alinhamento horizontal do tooltip */
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.3s; /* Suaviza a transição de opacidade */
    z-index: 1; /* Garante que o tooltip esteja acima da imagem */
}

/* Exibe o tooltip quando o mouse está sobre o container */
.tooltip-container:hover .tooltip-text {
    visibility: visible; /* Torna o tooltip visível */
    opacity: 1; /* Define a opacidade para totalmente visível */
}



.observations-input {
    flex-grow: 1;
    height: 70px; /* Adjust height as needed */
    width: 100%; /* Full width available */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allow resizing vertically */
}

/* Status icon styling */
.entrega-status-icon {
    height: 50px; /* Make the icon larger */
    width: auto; /* Maintain aspect ratio */
    cursor: pointer;
    align-self: flex-start; 
    margin-top: -5px;
}


 /* Estilo para o botão de fechar */
 .close {
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para a lista de opções */
.options-list {
    list-style-type: none;
    padding: 0;
}

.option-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.option-image {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: 30px;
    margin-right: 10px;
}

.option-text {
    flex-grow: 1;
}

 /* Estilo para o botão de toggle */
 .toggle-button {
    margin: 10px 0;
    padding: 10px;
    letter-spacing: 0.1px;
    color: #555;
    border: none;
    cursor: pointer;
    font-size: 12px;
    text-transform: none;
}

.toggle-button:hover {
    background-color: #e5e5e5;
}

.document-img {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.carrosel-container {
    position: relative;
    max-width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .observations-wrapper {
        flex-direction: column; /* Alinha o textarea e o status-container verticalmente */
        align-items: stretch; /* Faz o textarea ocupar a largura total disponível */
    }

    .observations-input {
        width: 100%; /* Garante que o textarea ocupe toda a largura disponível */
        
    }

    .status-container {
        width: 100%; /* Garante que o status-container ocupe toda a largura disponível */
        align-items: center; /* Alinha o ícone e o texto no centro horizontalmente */
        margin-left: 0; /* Remove a margem esquerda */
        text-align: center; /* Centraliza o texto abaixo do ícone */
    }
    .text-muted {
        font-size: 0.8em;
    }

    .entrega-status-icon {
        height: 40px; /* Ajusta o tamanho do ícone para telas menores */
        width: auto; /* Mantém a proporção do ícone */
        margin: 0; /* Remove a margem ao redor do ícone */
    }
    
    .question {
        font-size: 16px; /* Reduz o tamanho da fonte para melhor ajuste em telas menores */
       width: 160px;
    }

    .checkbox-label {
        margin-top: 5px; /* Mantém o espaço entre o ícone e o texto */
        font-size:  0.9em;
    }
}



/*Estilo para tabela de visualização de requisições*/
.table-striped-custom tbody tr:nth-child(odd) td:nth-child(odd) {
    background-color: #f2f2f2;
  }

.campo-valor {
    padding: 5px 20px;
    background-color: #0055ff;
    color: #fff !important;
    border-radius: 10px;
    font-size: 18px !important;
    text-shadow: 1px 1px #15527c;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
}

/* Estilo para os status */
.box-info-requisicao-btn .botao-aberta {
    background-color: #5fc9ed;
    text-shadow: 1px 1px #195a66;
    padding: 8px 20px 8px 31px;
    color: white;
    padding: 7px 10px 6px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    white-space: nowrap;
    margin-left: 5px;
    top: 20%;
    height: 35px;
    width: 110px;
}


    /* Estilos para os status */
    .box-info-requisicao-btn .botao-compra {
        background-color: #298a2b;
        text-shadow: 1px 1px #19662b;
        color: white;
        padding: 7px 10px 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-pre-compra {
        background-color: #79C14E;
        text-shadow: 1px 1px #356619;
        color: white;
        padding: 7px 10px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-pagamento {
        background-color: rgb(187, 2, 144);
        text-shadow: 1px 1px #550135;
        color: white;
        padding: 7px 10px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-cotacao {
        background-color: orangered;
        text-shadow: 1px 1px rgb(118, 31, 0);
        color: white;
        padding: 7px 15px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-cancelada {
        background-color: rgb(214, 0, 0);
        text-shadow: 1px 1px rgb(91, 0, 0);
        color: white;
        padding: 7px 10px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-aprovacao {
        background-color: rgb(12, 204, 175);
        text-shadow: 1px 1px rgb(1, 66, 67);
        color: white;
        padding: 7px 10px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }
    
    .box-info-requisicao-btn .botao-aprovado {
        background-color: #579531;
        text-shadow: 1px 1px #356619;
        color: white;
        padding: 7px 10px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-analise {
        background-color: #ff973c;
        text-shadow: 1px 1px #9f6d41;
        color: white;
        padding: 7px 10px 6px 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

    .box-info-requisicao-btn .botao-orcamento {
        background-color: #ffc416;
        text-shadow: 1px 1px #b58d16;
        color: white;
        padding: 7px 10px 6px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
        height: 35px;
    }

.box-info-requisicao-btn .botao-conversao {
    background-color: #01e8a7;
    text-shadow: 1px 1px rgb(0, 136, 97);
    color: white;
    padding: 8px 10px 8px 25px;
    border: none;
    border-radius: 5px;
    height: 35px;
}

.box-info-requisicao-btn .botao-cancelada {
    background-color: rgb(214, 0, 0);
    text-shadow: 1px 1px rgb(91, 0, 0);
    color: white;
    padding: 8px 10px 8px 25px;
    border: none;
    border-radius: 5px;
    height: 35px;
}


.box-info-requisicao-btn .botao-aprovacao {
    background-color: rgb(12, 204, 175);
    text-shadow: 1px 1px rgb(1, 66, 67);
    color: white;
    padding: 8px 10px 8px 15px;
    border: none;
    border-radius: 5px;
    height: 35px;

}
.box-info-requisicao-btn .botao-entrega {
    background-color: rgb(12, 121, 204);
    text-shadow: 1px 1px rgb(1, 27, 67);
    color: white;
    padding: 8px 10px 8px 20px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 110px;

}
.box-info-requisicao-btn .botao-recebido {
    background-color: rgb(249, 126, 17);
    text-shadow: 1px 1px rgb(92, 59, 2);
    color: white;
    padding: 8px 10px 8px 20px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 110px;

}
.space-btn {
    max-width: 35%;
}
.space-btn2 {
    width: 100%;
}

.space-btn img {
    width: 25px;
    height: 25px;
    border: 0;
}


.label-input-container {
    width: 50%;
    margin-bottom: 10px;
}

.label-input-container label {
    width: 100%;

}


.sidebar-form {
    height: 100%; 
    margin-left: auto; 
    padding: 15px; 
    box-sizing: border-box; /* Garante que o padding não aumente a largura do sidebar */
    border-radius: 10px;
    padding: 20px; 
}
.sidebar-form h3 {color: #333; font-size: 28px; margin: 0; font-family: 'Lato' sans-serif;}

.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.option-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    position: relative;
}

.option-item.selected {
    background-color: #e0f7fa;
}

.option-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.option-text {
    font-size: 14px;
}

.option-checkbox {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}




    .align-right,
    .status-container,
    .label-input-container {
        width: 99%;
    }

    .form-row label {flex: auto; }
    .space-btn {min-width: 85px;}
    

    .form-row {
        flex-direction: row;
        align-items: center;
    }

    .form-row > * {
        margin-bottom: 10px;
    }

    .form-row label,
    .form-row input[type="text"],
    .form-row select,
    .form-row input[type="checkbox"] {
        flex-basis: 100%;
    }
    .box-info-requisicao-btn {
        margin-top: 10px;
    }
    .table-ficha td, .table-ficha th {
    font-size: 14px; /* Tamanho da fonte no desktop */
    padding: 2px;    /* Espaçamento */
}

.table-responsive {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Para uma rolagem suave no iOS */
}

.table-ficha {
    width: 100%; /* A largura da tabela será mantida dentro do container */
}
}


.form-row input[type="text"],
.form-row select {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.form-row input[type="checkbox"] {
    margin: 25px 5px 0;
    width: 18px;
    height: 18px;
}

.form-row input[type="checkbox"]:checked {
    background-color: #f37334 !important;
}

.form-row textarea {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    transition: border-color 0.3s ease;
    width: 100%;
    /* Adiciona uma transição suave */
}


.form-row select:focus,
.form-row input:focus,
.form-row textarea:focus {
    /* Arredonda a borda superior direita */
    border-color: #fe9a35;
    /* Altera a cor da borda ao focar */
   
}