    body {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 33%, rgba(227, 227, 224, 1) 100%);
        color: #555;
        line-height: 20px;
        letter-spacing: 1px;
    }

    
 /* Estilo para a tabela */
 table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-top: 3px solid #999;
    font-size: 12px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;    
}

th {
    background-color: #f2f2f2;
    font-size: 12px;
}
tr:nth-child(even) {
background-color: #f2f2f2;
}

tr:nth-child(odd) {
background-color: #ffffff;
}

    .menu-item,
    .menu-item2 p {
        margin: 0;
        padding: 0;
    }

    .container-full {
        width: 100%;
    }

    .container-desktop {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }

    .topo-container {
        position: relative;
        min-height: 200px;
        overflow: hidden;
        /* Para esconder o conteúdo que ultrapassa a div */
    }

    .topo-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('imgs/pe-home.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.1;
        /* Opacidade da imagem de fundo */
        z-index: -1;
        /* Coloca a imagem de fundo atrás do conteúdo */
    }

    .topo {
        padding: 30px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 50px;
        margin-right: 40px;
    }

    .menu {
        display: flex;
        align-items: center;
        font-size: 13px;
    }

    .menu-item,
    .menu-item2 {
        margin-right: 20px;
        text-align: center;
    }

    .menu-item p {
        margin: 0;
        font-weight: bold;
        color: #666;
    }

    .menu-item a,
    .menu-item2 a {
        color: #444;
        text-decoration: none;
        transition: color 0.3s;
    }

    .menu-item a:hover,
    .menu-item2 a:hover {
        color: #f99e32;
    }

    .menu-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
    }

    .menu-item2 img {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
    }

    .separa-topo {
        background-image: url(imgs/separa-top.png);
        background-repeat: repeat-x;
        /* Repete apenas na horizontal */
        background-size: auto;
        margin: 0;
        padding-bottom: 0;
    }

    .mapa-nav:nth-of-type(1) {
        border: 2px solid #c54f20;
        background: white;
        font-size: 12px;
        z-index: 1;
        width: 100%;
        height: 20px;
        padding-top: 4px;
    }

    .mapa-nav:nth-of-type(2) {
        border: 2px solid #f37334;
        background: white;
        font-size: 11px;
        z-index: 2;
        width: 90%;
        height: 20px;
        top: -8px;
        margin-left: 5%;
        padding-top: 4px;
    }

    .mapa-nav:nth-of-type(3) {
        border: 2px solid #faa936;
        background: white;
        font-size: 10px;
        z-index: 3;
        width: 80%;
        height: 15px;
        top: -15px;
        margin-left: 10%;
        padding-top: 4px;
    }

    .mapa-nav:nth-of-type(4) {
        border: 2px solid #faa936;
        background: white;
        font-size: 11px;
        ;
        z-index: 4;
        width: 70%;
        height: 10px;
        top: -50px;
    }

    .mapa-nav:nth-of-type(5) {
        background: #ffd38d;
        font-size: 11px;
        z-index: 5;
    }

    .mapa-nav {
        color: #666;
        font-weight: bold;
        font-size: 10px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        position: relative;
        margin: 0 auto;
    }



    .caixa-menu {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 20px;
        font-size: 12px;
    }

    .caixa-menu2 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 0;
        font-size: 12px;
    }


    .usuario-info {
        display: inline-block;
        margin: 0;
        padding: 5px;
        text-align: right;
        max-width: 190px;
    }

    .usuario-info h4 {
        margin: 15px 0;
        font-size: 13px;
    }

    .usuario-info p {
        display: inline-block;
        margin: 0 auto;
        padding: 0px;
        font-size: 11px;
        line-height: normal;
    }

    .usuario-info span {
        display: inline-block;
    }

    #data-hora {
        font-size: 12px;
        color: #555;
        margin-top: 5px;
        line-height: 15px;
        min-width: 210px;
    }

    button {
        padding: 8px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 14px;
        text-transform: capitalize;
    }

    .usuario-info button {
        background-color: #666;
        text-shadow: 1px 1px #000;
        color: white;
        text-transform: uppercase;
        padding: 6px 20px;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 5px;
    }

    .usuario-info button:hover {
        background-color: #444;
        text-shadow: 1px 1px #000;
        color: white;
        text-transform: uppercase;
        padding: 6px 20px;
        letter-spacing: 1px;
        font-weight: bold;
    }


    .conteudo {
        padding: 5px;
        background-color: #fff;
        margin: 0px 0 40px;
        border-radius: 10px;
        border: 3px solid #f37334;
        position: relative;
    }


    .conteudo-in {
        padding: 0px;
        background-color: #fff;
        margin: 0;
    }

    .conteudo p {
        font-size: 14px;
    }


    /*ESSA É A CAIXA DE MENU DE VISUALIZACAO E FILTROS */

    
    .toggle-container .toggle-container2 button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .wrap-toggle {
        background-color: white;
        opacity: 98%;
        position: sticky;
        top: 0;
        right: 0;
        display: flex;
        margin-left: auto;
        align-items: center;
        z-index: 1000;
        justify-content: space-between;
    }

    .toggle-container2 {
        display: flex;
        align-items: center;
    }

    .toggle-container,
    .toggle-container2 {
        margin: 10px;
        /* Ajuste a margem conforme necessário */
    }

    /* ESSA É A CAIXA DE FILTROS */

    .filtro-tabela {
        display: flex;
        justify-content: space-between;
        /* Isso fará com que as colunas ocupem todo o espaço disponível na linha */
        margin-right: 20px;
    }

    .filtros-selecionados {
        display: flex;
        /*flex-wrap: wrap;
        justify-content: flex-end;*/
    }

    .filtros-selecionados span {
        background-color: #79C14E;
        color: white;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        /* Adiciona cursor para indicar que é clicável */
    }

    .filtros-selecionados span:hover {
        background-color: #A4A4A4;
    }

    .filtros-selecionados button {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #999;
        font-size: 10px;
        padding: 0px 4px !important;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 5px;
        max-width: 140px;
    }
    
    .busca button {height: 35px; text-transform: uppercase; margin: 0px 5px 0px 5px ; font-family: 'Lato', sans-serif; width: 90px;} 
    .busca input {padding: 6px; margin-bottom: 10px;border-radius: 5px; border: 1px solid #444; font-size: 14px; font-family: 'Lato', sans-serif; }


    
    .filtro-coluna {
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2000;
        animation: slideInFromTop 0.5s ease-in forwards;
        overflow: auto;
    }

    .modal-envolto {
        position: relative;
        background-color: #efefef;
        padding: 1px 20px;
        max-width: 1024px;
        margin: 2% auto;
        
    }
    .modal-wrap {
        padding: 20px 10px 10px;
        margin-top: 50px;
    }

    .modal-content {
        position: relative;
        background-color: #f5f5f5;
        margin: 2% auto;
        max-width: 1024px;
        border-radius: 10px;
        border: 3px solid #f47332;
    }

    /*PASTAS PARA MODAL DE HISTORICO DE ARQUIVOS*/

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
    }
    
    

    .folder-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px; /* Espaço entre os folders */
        justify-content: center;
    }
    
    .folder {
        flex: 1 1 calc(33.333% - 15px); /* Três itens por linha, menos o espaço do gap */
        height: 10vh;
        background-color: #f0f0f0; /* Cor de fundo cinza quase branco */
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra ao redor */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    
    .folder:hover {
        background-color: #e0e0e0; /* Cor um pouco mais escura ao passar o mouse */
        box-shadow: 0 6px 12px rgba(0,0,0,0.3); /* Sombra mais forte ao passar o mouse */
    }


    /* CLASSE DE ANIMAÇÃO PRO SLIDER DO FILTRO */

    @keyframes slideIn {
        from {
            margin-left: 100%;
            /* Começa fora da tela à direita */
        }

        to {
            margin-left: 0;
            /* Termina na posição inicial */
        }
    }

    .modal-content label {
        display: block;
    }

    .modal-content select {
        margin-left: 10px;
    }

    .modal-content label,
    .modal-content div {
        line-height: normal;
    }

    .modal-content h3 {
        font-size: 18px;
        margin: 20px 0;
        font-weight: normal;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .tit-modal  {
        font-size: 24px;
        order: 1;
        font-weight: normal;
        color: #fff;
        background-color: #f47332;
        padding: 10px;
        text-shadow: 1px 1px #a8561c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-family: 'Lato', 'sans-serif';
        position: absolute;
        width: 100%;
        z-index: 2;
    }


    .linha {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

.subsub-botoes {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        font-size: 12px;
    }

    /* *** */


    .informacoes {
        background-color: #fff;
        padding: 5px;
        border-radius: 0 0 10px 10px;
    }

    .informacoes h4 {
        color: #f99e32;
        margin-top: 15px;
    }

    .informacoes p {
        font-size: 12px;
        color: #555;
    }

    .informacoes a {
        font-size: 12px;
        color: #fff;
        background-color: #ff842c;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        text-decoration: none;
        box-shadow: 1px 1px #cf6219;
        font-weight: bold;
    }

    .conteudo h2 {
        margin: 30px 10px 30px;
        font-size: 30px;
        color: #333;
        font-weight: normal;
    }

    .conteudo-in h3 {
        margin: 20px 10px 20px;
        font-size: 24px;
        color: orangered;
    }

    .conteudo h4 {
        margin: 30px 10px 30px;
        font-size: 24px;
        color: orangered;;
        font-weight: normal;
        text-align: center;
    }


    /* Estilo para o contêiner do título */
    .titulo-container {
        display: flex;
        justify-content: space-between;
        /* Alinha os elementos ao espaço entre eles */
        align-items: center;
        /* Alinha os elementos verticalmente */
        width: 100%;
        margin-bottom: 10px;
    }

     /* Estilo para o título em todos os modos */
     .titulo-container h3 {
        font-size: 20px;
        color: #333;
        min-width: 45%;
        text-transform: uppercase;
    }


    /* Estilo para o ícone */
    .sub-icones-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .sub-icones {
        background: transparent;
        font-size: 20px;
        padding: 5px;
        cursor: pointer;
        margin: 0 5px;
        border: 0;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    }

    .sub-icones i {
        color: #ff842a;
        background: transparent;
        font-size: 25px;
    }

    .sub-icones a:hover {
        color: #222;
    }

    .sub-icones+label {
        margin: 5px;
        /* Espaçamento entre o ícone e o label */
    }

    
.sub-icones label {
    margin: 5px;
    color: #444;
    font-family: 'Lato', 'sans-serif';
    font-size: 12px;
}

    .status {
        height: 100px;
    }
    

    /* Estilos para os status */

    .botao-pre-compra,
    .botao-pagamento,
    .botao-pre-compra,
    .botao-pagamento,
    .botao-cotacao,
    .botao-compra,
    .botao-cancelada,
    .botao-aprovacao,
    .botao-analise,
    .botao-orcamento,
    .bota-entrega,
    .botao-recebido,
    .botao-aprovado {
        font-size: 10px;
        width: 110px;
        text-align: center;
        padding: 5px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        position: relative;
        white-space: nowrap;
        margin-left: 5px;
        top: 20%;
    
    }

    .box-info-requisicao-btn .botao-pre-compra {

        background-color: #79C14E;
        text-shadow: 1px 1px #356619;
    }

    .box-info-requisicao-btn .botao-compra {
        background-color: #298a2b;
        text-shadow: 1px 1px #19662b;
    }

    .box-info-requisicao-btn .botao-pagamento {
        background-color: rgb(187, 2, 144);
        text-shadow: 1px 1px #550135;
    }

    .box-info-requisicao-btn .botao-cotacao {
        background-color: orangered;
        text-shadow: 1px 1px rgb(118, 31, 0);
    }

    .box-info-requisicao-btn .botao-cancelada {
        background-color: rgb(214, 0, 0);
        text-shadow: 1px 1px rgb(91, 0, 0);
    }

    .box-info-requisicao-btn .botao-aprovacao {
        background-color: rgb(12, 204, 175);
        text-shadow: 1px 1px rgb(1, 66, 67);
    }
    .box-info-requisicao-btn .botao-entrega {
        background-color: rgb(12, 121, 204);
        text-shadow: 1px 1px rgb(1, 27, 67);
    }

    .box-info-requisicao-btn .botao-recebido {
        background-color: rgb(249, 126, 17);
        text-shadow: 1px 1px rgb(92, 59, 2);
    }
    
    .box-info-requisicao-btn .botao-aprovado {
        background-color: #579531;
        text-shadow: 1px 1px #356619;
    }

    .box-info-requisicao-btn .botao-analise {
        background-color: #ff973c;
        text-shadow: 1px 1px #9f6d41;
    }

    .box-info-requisicao-btn .botao-orcamento {
        background-color: #ffc416;
        text-shadow: 1px 1px #b58d16;
        }

    /* Estilo para o ícone */
    .titulo-container .icone-abrir {
        margin-right: 30px;
        position: relative;
        z-index: 1;
    }

    /* Estilo para o ícone de pré-compra */
    .box-info-requisicao-btn .icones {
        position: absolute;
        left: -15%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 25px;
    }

    /* Estilo para o preço */
    .preco-container {
        position: relative;
        width: 100%;
        margin-top: 20px;
    }

    .preco-texto {
        position: absolute;
        top: -25px;
        left: 0;
        font-size: 13px;
        color: #444;
        font-weight: normal;
    }

    .preco-valor {
        background-color: orange;
        text-shadow: 1px 1px #c54f20;
        color: white;
        padding: 3px 10px 4px 10px;
        border-radius: 5px;
        font-size: 16px;
    }

    .span-infos-requisicao {
        font-weight: bold;
        font-size: 14px;
    }

    .box-info-requisicao {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .box-info-requisicao2 {
        display: flex;
        justify-content: start;
        margin: -60px 0 10px;

    }
    .box-info-requisicao3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-info-requisicao-borda {
        width: 140px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        background-color: #fff;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        height: 55px;
        text-align: center;
    }

    .box-info-requisicao-borda-g2 {
        width: 215px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        background-color: #fff;
        /* Borda arredondada */
        box-sizing: border-box;
        margin: 11px 0 0 -7px;
        /* Espaçamento entre as divs */
        height: 55px;
        text-align: center;
    }

    .box-info-requisicao-borda-g {
        width: 215px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        background-color: #fff;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        height: 55px;
        text-align: center;
    }

    .box-info-requisicao-borda-m {
        width: 186px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        background-color: #fff;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        height: 55px;
        text-align: center;
    }

    .box-info-requisicao-borda2-p {
        width: 105px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        background-color: #eee;
        height: 55px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .box-info-requisicao-borda2-m {
        width: 130px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        background-color: #eee;
        height: 55px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .box-info-requisicao-borda2 {
        width: 140px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        background-color: #eee;
        height: 55px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .box-info-requisicao-borda3 {
        width: 141px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 5px;
        border: 2px solid #888;
        border-radius: 10px;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        background-color: #eee;
        height: 55px;
        text-align: center;
    }

    .box-info-requisicao-borda4 {
        width: 139px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        border: 2px solid #888;
        border-radius: 10px;
        /* Borda arredondada */
        box-sizing: border-box;
        margin-right: 5px;
        /* Espaçamento entre as divs */
        height: 55px;
        text-align: center;
        background-color: #fff;
    }

    .box-info-requisicao-ultima {
        width: 250px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        height: 55px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .box-info-requisicao-ultima2 {
        width: 285px;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }

    .box-info-requisicao-ultima3 {
        width: 35.5%;
        /* Ajusta a largura para caberem seis divs lado a lado */
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 1px;
        margin-left: 5px;
        min-height: 55px;
        text-align: center;
    }

    .box-info-requisicao-ultima4 {
        width: 140px;
        height: 115px;
        white-space: nowrap;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #fff;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 1px;
        min-height: 60px;
        text-align: center;
    }

    .box-info-requisicao-ultima5 {
        width: 250px;
        height: 115px;
        white-space: nowrap;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #fff;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 60px;
    }
    
    .box-info-requisicao-branca-larga {
        width: 235px;
        text-align: center;
        white-space: nowrap;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #fff;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
    }

    .box-info-requisicao-cinza-metade-g {
        width: 755px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }

    .box-info-requisicao-cinza-metade {
        width: 375px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }

    .box-info-requisicao-cinza-metade-m {
        width: 315px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }

   
.box-info-requisicao-cinza-17 {
    flex: 0 0 20.90%; 
    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid #888;
    background-color: #eee;
    border-radius: 10px;
    margin-right: 5px;
    min-height: 55px;
    text-align: center;
}

.box-info-requisicao-cinza-33 {
    flex: 0 0 66.33%; 
    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid #888;
    background-color: #eee;
    border-radius: 10px;
    margin-right: 5px;
    min-height: 55px;
    text-align: center;
    
}
.box-info-requisicao-cinza-50,
.box-info-requisicao-branco-50 {
    flex: 1 1 48%; /* Ocupa 48% do espaço com um pouco de margem */
    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid #888;
    border-radius: 10px;
    min-height: 55px;
    text-align: center;
    margin: 0 5px 5px 0;
}
.box-info-requisicao-branco-100 {
    flex: 1 1 100%; /* Ocupa 100% do espaço */
    max-width: 100%;
    padding: 2px 5px;
    box-sizing: border-box;
    border: 2px solid #888;
    border-radius: 10px;
    min-height: 55px;
    text-align: center;
    margin: 0 5px 5px 0;
}
.box-info-requisicao-cinza-50 {
    background-color: #eee;
}
.box-info-requisicao-branco-50, .box-info-requisicao-branco-100 {
    background-color: #fff;
}

    .box-info-requisicao-cinza-metade-p {
        width: 375px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }

    .box-info-requisicao-cinza-metade-p2 {
        width: 375px;
        height: 115px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #fff;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }
    
    
    .box-info-requisicao-cinza-3-col {
        width: 248px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-wrap:nowrap;
        text-align: center;
    }

    .box-info-requisicao-cinza-metade2 {
        width: 215px;
        padding: 2px 5px 2px;
        box-sizing: border-box;
        border: 2px solid #888;
        background-color: #eee;
        border-radius: 10px;
        /* Borda arredondada */
        margin-right: 5px;
        min-height: 55px;
        text-align: center;
    }


    .form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
    }

    .input-buscar {
        width: 150px;
        /* Defina a largura desejada para o campo de busca */
        margin-left: 10px;
        /* Ajuste conforme necessário */
        height: 25px;
    }

    .buscar-label {
        margin-right: 10px;
        /* Adicione um espaço entre o label e o input */
        display: flex;
    }

    @media (max-width: 767px) {
        .form-row {
            flex-direction: column;
            /* Altera a direção para coluna em dispositivos menores que 768px */
        }

        .dataTables_length,
        .dataTables_filter {
            margin-bottom: 5px;
            /* Adiciona espaço entre os campos ao empilhá-los */
        }
    }

    /* Estilo para os inputs */
    input {
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #ced4da;
        padding: 6px;
    }

    /* Estilo para os labels */
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        white-space: nowrap;
    }

    .modo-simples2 #oculta {
        display: none;
    }

    /*TABELA REQUISISCOES MODO-LISTA-SIMPLES **/
    .table-requisicoes {
        max-width: 100%;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-radius: 10px;
        /* Borda arredondada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra */
        overflow: hidden;
        /* Ocultar sombra que ultrapassa a borda arredondada */
        display: none;
        border-top: 3px solid #999;
    }

    /* CSS para exibir a tabela no modo-simples2 */
    .modo-simples2 .table-requisicoes {
        display: block;
    }

    .modo-simples2 #conteudoModoSimples2 {
        display: block !important;
    }

    .modo-simples2 #mobile-conteudoModoSimples2 {
        display: none !important;
    }



    .table-requisicoes th {
        background-color: #ddd;
        /* Cor de fundo laranja para o cabeçalho */
        color: #444;
        /* Cor do texto branco */
        text-align: center;
    }

    .table-requisicoes td,
    .table-requisicoes th {
        border: 1px solid #c6c6c6;
        padding: 2px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 60px;
        text-align: center;

    }

    .table-requisicoes tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table-requisicoes tr:nth-child(odd) {
        background-color: #ffffff;
    }


    /* CARDS */

    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        min-height: 110px;
        margin: 10px;
        padding: 5px;
        background-color: #f9f9f9;
        border: 2px solid #f37334;
        border-radius: 5px;
        position: relative;
        align-items: flex-start;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    }

    
    .card2 {
        background-color: #f9f9f9;
        border: 2px solid #f37334;
        border-radius: 5px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        padding: 5px;
    }


    /* CARDS MODOS DE LISTAGEM*/

    .cards-container.modo-lista .card {
        width: 100%;
        height: 200px;
        margin: 10px;
        padding: 5px;
        background-color: #f9f9f9;
        border: 2px solid #f37334;
        border-radius: 5px;
        position: relative;
        align-items: flex-start;
    }

    .cards-container.modo-lista .titulo-container {
        margin: 15px 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    /* Nova classe para o modo-simples */
    .cards-container.modo-simples .card {
        width: 100%;
        max-height: 118px;
        margin: 10px;
        padding: 5px 5px 0 5px;
        background-color: #f9f9f9;
        border: 2px solid #f37334;
        border-radius: 5px;
        position: relative;
        align-items: flex-start;
        overflow: hidden;
    }


    .cards-container.modo-simples2 .card {
        width: 100%;
        min-height: 135px;
        margin: 10px 0 10px;
        padding: 5px 5px 4px;
        background-color: #f9f9f9;
        border: 2px solid #f37334;
        border-radius: 5px;
        position: relative;
        align-items: center;
    }

    .modo-simples2 .box-info-requisicao {
        display: none;
    }

    .modo-simples2 .box-info-requisicao2 {
        display: none;
    }

    .box-info-requisicao-btn {
        display: flex;
        vertical-align: top;
        margin-left: 10px;
    }

    /* MENU MIGALHAS - OU MAPA DE NAVEGAÇÃO */

    .breadcrumbs {
        display: flex;
        align-items: center;
        margin: 10px;
        font-size: 10px;
        color: #444;
    }

    .breadcrumbs a {
        color: #444;
        text-decoration: none;
        margin-right: 5px;
    }

    .breadcrumbs span {
        margin-right: 5px;
    }

    /* icone de subir tela */
    .ico-subir-footer {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #ff842a;
        border: 3px solid white;
        border-radius: 50%;
        padding: 5px 10px;
        cursor: pointer;
    }
    
    .ico-subir-footer i {
        color: #fff;
    }

    .ico-subir-footer:hover {
        background-color: #222;
    }



    /* BOXS REQUISIÇÕES */

    .container-box-requisicoes {
        display: flex;
        flex-wrap: wrap;
        /* Permite que os elementos quebrem para a próxima linha quando não houver espaço suficiente */
    }

    .box-requisicoes {
        width: 30%;
        /* Tamanho em porcentagem */
        min-width: 200px;
        /* Largura mínima para evitar que os blocos fiquem muito estreitos */
        min-height: 120px;
        background-color: #fff;
        /* Cor de fundo padrão */
        margin: 10px;
        display: flex;
        flex-direction: column;
        /* Alinhar elementos verticalmente */
        border: 1px solid #ddd;
        /* Adicionando uma borda para separar visualmente as caixas */
        box-sizing: border-box;
        /* Considerar padding e borda dentro do tamanho definido */
    }

    .box-info-geral {
        flex: 1;
        /* Ocupa o mesmo espaço dentro do flex container */
        width: 30%;
        /* Tamanho em porcentagem */
        min-width: 200px;
        /* Largura mínima para evitar que os blocos fiquem muito estreitos */
        min-height: 120px;
        background-color: #fff;
        /* Cor de fundo padrão */
        margin: 10px;
        display: flex;
        flex-direction: column;
        /* Alinhar elementos verticalmente */
        border: 1px solid #ddd;
        /* Adicionando uma borda para separar visualmente as caixas */
        border-radius: 10px;
        box-sizing: border-box;
        /* Considerar padding e borda dentro do tamanho definido */
        text-align: center;
        /* Centralizar texto */
    }

    .box-faturamento-geral {
        border-radius: 10px;
        background-color: #fff;
        border: 2px solid #f37334;
        color: #f37334;
        /* Cor laranja para o texto */
        font-size: 24px;
        /* Tamanho da fonte */
        padding: 20px;
        /* Espaçamento interno */
        text-align: center;
        /* Centralizar texto */
        width: 30%;
        /* Largura mínima de 30% */
        margin: 20px auto;
        /* Centralizar na página */
    }

    .titulo {
        background-color: #f37334;
        /* Cor de fundo laranja para o título */
        color: white;
        /* Cor do texto branco */
        border-radius: 10px 10px 0 0;
        padding: 10px;
        text-align: center;
    }

    .quantidade {
        color: #444;
        /* Cor do texto para a quantidade */
        font-size: 18px;
        /* Tamanho da fonte */
        margin-top: 20px;
        /* Espaçamento superior */
        display: flex;
        justify-content: center;
        /* Centralizar horizontalmente */
        align-items: center;
    }

    .imagem {
        width: 100%;
        /* Garante que a imagem ocupe toda a largura do container */
        display: block;
        /* Remove qualquer margem extra */
        margin-top: 20px;
        /* Espaçamento entre os blocos e a imagem */
    }




    /* VERSAO MOBILE */

    @media screen and (max-width: 768px) {
        .status {
            height: 60px;
        }

        #mobile-conteudoModoSimples2 th,
        td {
            overflow: hidden;
            text-align: center;
            line-height: normal;
        }

        #mobile-conteudoModoSimples2 .table-requisicoes {
            margin-bottom: 10px;
            max-width: 100%;
            overflow-x: auto;
        }

        #mobile-conteudoModoSimples2 .table-requisicoes td {
            font-size: 10px;
        }

        #mobile-conteudoModoSimples2 .table-requisicoes td:nth-child(2) {
            white-space: nowrap;
        }

        #mobile-conteudoModoSimples2 th {
            font-size: 10px;
        }

        #mobile-conteudoModoSimples2 .table-requisicoes tr:nth-child(even) {
            background-color: #fff;
        }

        /* ESSA É A CAIXA DE FILTROS */

        .modal-wrap {
            padding: 70px 10px 10px;
        }
    

        /* FILTROS */

        .filtro-tabela {
            display: flex;
            flex-wrap: wrap;
            z-index: 10001;
        }

        .filtro-coluna {
            width: 100%;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        .filtro-coluna label {
            display: block;
            margin-bottom: 10px;
        }

        .filtro-coluna ul {
            padding-left: 20px;
            margin-top: 5px;
        }

        .filtrar .limpar {
            width: 100%;
        }

        .filtros-selecionados {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 5px 0;
            padding: 2px;
            font-size: 9px;
        }

        .filtros-selecionados span:hover {
            background-color: #A4A4A4;

        }

        .filtros-selecionados button {
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #444;
            font-size: 9px;
            margin: 2px 0;
        }
        .busca {display: flex;}
        .busca input {max-width: 100px;}
        .busca button {width: 68px;}
        .wrap-toggle button {font-size: 10px;}

        .wrap-toggle {
            align-items: start;
        }



        /* Estilos para alinhar os elementos dentro da legenda */
        .caption-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0 5px;
        }

        .caption-container img {
            margin-right: 10px;
            /* Espaçamento entre a imagem e o texto */
        }

        .modo-simples2 h3 {
            margin: 5px 0px 5px;
            font-size: 14px;
            color: orangered;
            line-height: normal;
            min-width: 140px;
        }

        .preco-container {
            margin: 10px 0 10px;
            font-size: 12px;
        }

        .caption-container .icones {
            left: -13%;
            width: 30px;
        }

        .caption-container .botao-pre-compra,
        .caption-container .botao-pagamento,
        .caption-container .botao-cotacao,
        .caption-container .botao-cancelada,
        .caption-container .botao-aprovacao,
        .caption-container .botao-analise,
        .caption-container .botao-entrega,
        .caption-container .botao-recebido,
        .caption-container .botao-orcamento,
        .caption-container .botao-aprovado {
            font-size: 10px;
            padding: 5px 25px;
            width: 60px;
            text-align: center;
        }

        /* OCULTA A TABELA GRANDE E MOSTRA A PEQUENA */
        .modo-simples2 #conteudoModoSimples2 {
            display: none !important;
        }

        .modo-simples2 #mobile-conteudoModoSimples2 {
            display: block !important;
        }

        /**/

        .modo-simples {
            display: none;
        }

        .modo-simples2 {
            display: block;
        }

        .topo {
            flex-direction: column;
            align-items: center;
            padding: 15px 0px;
        }

        .menu,
        .caixa-menu {
            flex-direction: row;
            justify-content: center;
            margin-top: 40px;
        }

        .menu-item {
            margin-right: 0;
            margin-bottom: 10px;
            width: 90px;
            text-align: center;
        }

        .menu-item2 {
            margin-right: 0;
            margin-bottom: 10px;
            width: calc(33.33% - 20px);
            /* Define a largura para 33.33% e subtrai a margem entre os itens */
            text-align: center;
        }

        .conteudo {
            margin: 10px;
            padding: 5px;
        }

        .modo-icon {
            text-transform: capitalize;
            color: #888;
        }

        .toggle-container {
            display: none;
        }

        .wrap-toggle {
            position: sticky !important;
            z-index: 1000;
            top: 0;
        }

        .toggle-container2 {
            display: block;
            margin: 0;
        }

        .mapa-nav:nth-of-type(1) {
            border: 2px solid #c54f20;
            background: white;
            font-size: 12px;
            z-index: 1;
            width: 92%;
            height: 20px;
            padding-top: 4px;
        }

        .mapa-nav:nth-of-type(2) {
            border: 2px solid #f37334;
            background: white;
            font-size: 11px;
            z-index: 2;
            width: 84%;
            height: 20px;
            top: -8px;
            margin-left: 5%;
            padding-top: 4px;
        }

        .mapa-nav:nth-of-type(3) {
            border: 2px solid #faa936;
            background: white;
            font-size: 10px;
            z-index: 3;
            width: 74%;
            height: 15px;
            top: -15px;
            margin-left: 10%;
            padding-top: 4px;
        }

        .mapa-nav:nth-of-type(4) {
            border: 2px solid #faa936;
            background: white;
            font-size: 11px;
            ;
            z-index: 4;
            width: 64%;
            height: 10px;
            top: -50px;
        }

            display: flex;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            position: relative;
            /* Adiciona posição relativa ao contêiner do card */
        }

        .card .imagem-container {
            width: 50%;
            margin-bottom: 10px;
            height: auto;
        }

        .card .imagem-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            max-width: 100%;
            height: auto;
        }

        .card .selo {
            position: absolute;
            top: 10px;
            /* Ajuste a posição vertical conforme necessário */
            left: 10px;
            /* Ajuste a posição horizontal conforme necessário */
            background-color: rgba(255, 165, 0, 0.7);
            /* Cor de fundo do selo */
            color: #fff;
            /* Cor do texto do selo */
            padding: 5px 10px;
            /* Espaçamento interno do selo */
            border-radius: 5px;
            /* Arredondamento das bordas do selo */
            font-size: 14px;
            /* Tamanho da fonte do selo */
            font-weight: bold;
            /* Peso da fonte do selo */
            z-index: 1;
            /* Garante que o selo esteja sobre a imagem */
        }

        .card .selo,
        .card .selo-amarelo,
        .card .selo-verde {
            position: static;
            margin-top: 10px;
            border-radius: 50px;
            padding: 2px 5px;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
        }

        .card .informacoes {
            width: 100%;
            /* Ocupa a largura total */
            margin-left: 10px;
        }

        .card .informacoes h4 {
            margin-top: 5px;
            /* Adiciona margem acima do título */
        }

    }


    /* Versão Desktop pro modo-lista das obras */
    @media screen and (min-width: 769px) {

        .cards-container.modo-lista .card {
            flex-basis: 100%;
            min-width: 87%;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }

        .cards-container.modo-lista .card .imagem-container {
            width: 30%;
            margin-right: 15px;
        }

        .cards-container.modo-lista .card .informacoes {
            width: 70%;
        }

    }