body {
    margin: 0;
    font-family: 'Lato', 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:  #e0e0e0;
    color: #333;
    z-index: 10000;
}

.logo img {
    border: 0;
    height: 50px;
    margin-right: 15px; /* Ajuste a margem conforme necessário */
}

.dash-title {
    font-size: 16px;
    font-weight: bold;
}
.search-bar {
    display: flex;
    align-items: center;
    margin-right:15px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.3s; /* Adicionado para suavizar a transição de cor de fundo */
}

.search-input:focus {
    border-color: orange; /* Define a cor da borda para laranja apenas no hover */
}
.search-input:focus::placeholder {
    color: #ccc; /* Define a cor do placeholder para cinza claro quando o campo estiver em foco */
    border-color: orange; /* Define a cor da borda para laranja apenas no hover */
}

.search-input {
    width: 500px;
    padding: 8px;
    border-radius: 20px; 
    border: 1px solid #ddd;
    outline: 1px orange;

}

.notifications, .user-profile, .menu-button {
    cursor: pointer;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-right: 15px;
}

.notification-container {
    position: relative;
}

.notifications {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative; /* Adicionado para controlar a posição relativa ao ícone de notificações */
}

.notification-badge {
    background-color: #ff892e;
    color: #fff;
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 10px;
    position: absolute; /* Tornando a posição absoluta em relação ao ícone de notificações */
    top: -2px; /* Ajuste para posicionar o círculo bem em cima da imagem */
    right: 6px; /* Ajuste para posicionar o círculo bem em cima da imagem */
    display: inline-block;
}

.notification-popup {
    display: none;
    position: absolute;
    top: 40px; /* Ajuste a posição conforme necessário */
    right: 10px; /* Ajuste a posição conforme necessário */
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px; /* Ajuste para aumentar a largura do balão */
    min-width: 200px; /* Defina uma largura mínima para o balão */
    max-width: 300px; /* Ajuste a largura máxima conforme necessário */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center; /* Ajuste para centralizar o texto no balão */
    white-space: nowrap; /* Evita que o texto quebre para a próxima linha */
}

.notification-popup p {
    margin: 0;
    padding: 10px;
    background-color: #f6f6f6;
    border: 1px solid white;
}

.notification-popup a {
    text-decoration: none;
    color: #444;
}

.notification-popup::before {
    content: "";
    position: absolute;
    top: -10px; /* Ajuste a posição conforme necessário */
    right: 50%; /* Ajuste a posição conforme necessário */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    transform: translateX(50%); /* Centraliza a ponta do balão */
}   

.notifications img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.menu-button img {
    width: 30px;
    height: 30px;
    
}
.view-button {
    background-color: #e0e0e0; /* Cor suave de fundo */
    padding: 15px 25px; /* Ajuste o padding para ampliar a área de ativação */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #444;
    font-weight: bold;
    font-family: 'Lato';
    margin-right: 10px;
    margin-left: 40px;
}

.view-button:hover {
    color: #111;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 40px;
}



.container {
    display: flex;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background-color: #e0e0e0;
    color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 20px;
}

.menu-icon {
    cursor: pointer;
    margin: 50px 10px;
    position: absolute;
    padding: 5px 5px;
    z-index: 2; /* Coloca o ícone acima dos outros elementos */
}

.menu-hamburger {
    font-size: 20px;
}

.sidebar.collapsed .menu-icon {
    
    padding: 5px 5px;
    width: 10px;
    height: 20px;
    background-color: #d5d5d5;
    border-radius: 20%;
    padding: 5px 5px;
}

.sidebar.collapsed {
    width: 10px; /* Largura reduzida quando o sidebar está retratil */
}


/* menu icones*/
.fa-tachometer-alt {
    color: #3498db; /* Azul */
}

.fa-chart-bar {
    color: #e74c3c; /* Vermelho */
}

.fa-cogs {
    color: #2ecc71; /* Verde */
}

.fa-users {
    color: #f39c12; /* Amarelo */
}

.fa-calendar {
    color: #9b59b6; /* Roxo */
}



/* Estilos para a Sidebar */
.sidebar-nav {
    padding-top: 20px;
    margin: 50px 0;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    margin-bottom: 10px;
}

.sidebar-nav a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-nav a:hover {
    background-color: #e0e0e0;
}

.sidebar-nav i {
    margin-right: 10px;
}



.content {
    flex-grow: 1;
    padding: 20px;
}

.blocks-container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

    .full-width-block {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        margin-top: 20px;
        padding: 0px;
        background-color: #ffffff;
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    }

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/*estilo para os blocos */
.dados-container {
    background-color: #fff;
    color: #444;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.dados-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.dados-valor {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


/* ESTILOS PARA TELAS MAIORES, COMO 32 POLEGADAS */
@media screen and (min-width: 1920px) {
    header {
        padding: 20px; /* Ajuste o preenchimento conforme necessário */
    }

    .logo img {
        margin-right: 30px; /* Ajuste a margem conforme necessário */
    }

    .dash-title {
        font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
    }

    .search-bar {
        margin-right: 30px; /* Ajuste a margem conforme necessário */
    }

    .search-input {
        width: 800px; /* Ajuste a largura conforme necessário */
    }

    .user-profile img {
        width: 40px;
        height: 40px;
        margin-right: 30px; /* Ajuste a margem conforme necessário */
    }

    .notification-badge {
        font-size: 12px; /* Ajuste o tamanho da fonte do badge conforme necessário */
    }

    .notification-popup {
        top: 60px; /* Ajuste a posição conforme necessário */
        right: 20px; /* Ajuste a posição conforme necessário */
        padding: 20px; /* Ajuste o preenchimento conforme necessário */
        min-width: 250px; /* Ajuste a largura mínima conforme necessário */
        max-width: 350px; /* Ajuste a largura máxima conforme necessário */
    }

    .menu-button img {
        width: 40px;
        height: 40px;
    }

    .view-button {
        background-color: #e0e0e0; /* Cor suave de fundo */
        padding: 15px 25px; /* Ajuste o padding para ampliar a área de ativação */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #444;
        font-weight: bold;
        font-family: 'Lato';
        margin-right: 10px;
        margin-left: 60px;
    }
    
    .view-button:hover {
        color: #111;
        background-color: #fff;
        margin-right: 10px;
        margin-left: 60px;
    }

    .sidebar {
        width: 280px; /* Ajuste a largura da barra lateral conforme necessário */
        padding-left: 30px; /* Ajuste o preenchimento conforme necessário */
    }

    .sidebar-nav a {
        padding: 15px; /* Ajuste o preenchimento conforme necessário */
    }

    .content {
        padding: 30px; /* Ajuste o preenchimento conforme necessário */
    }

    .block,
    .full-width-block {
        margin: 20px;
        padding: 10px; /* Ajuste o preenchimento conforme necessário */
    }

    footer {
        padding: 20px; /* Ajuste o preenchimento conforme necessário */
    }
}



/* tentando criar um novo grafico */

.timeline {
    width: 100%;
    border-collapse: collapse;
}

.timeline-header {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.timeline-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.timeline-body {
    display: flex;
    flex-direction: column;
}

.timeline-row {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.timeline-row:last-child {
    border-bottom: none;
}

.timeline-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.timeline-bar {
    position: relative;
    height: 20px;
    margin-top: 5px;
}

.project {
    position: absolute;
    height: 100%;
}

.on-time {
    background-color: #2ecc71; /* Verde para projetos entregues no prazo */
}

.delayed {
    background-color: #e74c3c; /* Vermelho para projetos em atraso */
}